@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="col-sm-12">
    <form id="form_Compra" class="form-horizontal mitad" action="" method="post" accept-charset="utf-8" role="form" enctype="multipart/form-data">
        <fieldset style="margin:0px;padding-top:1px;">
            <legend align="left" style="margin:0px;">Compra</legend>
            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-3 form-group">
                    <div class="col-sm-4 form-group">
                        <button type="button" id="btnNuevaCompra" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nueva OC</button>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <button type="button" id="btnPDF" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Descargar PDF</button>
                </div>
            </div>
          
           <fieldset style="margin:0px;padding-top:1px;">
                <legend align="left" style="margin:0px;">Compras</legend>
                <div class="col-sm-12 Sinespacio">
                    <div class="table-responsive">
                        <table class="table table-bordered tbCompra display table-condensed" id="tbCompra" width="100%">
                            <thead id="TableHeader">
                                <tr>
                                    <th class="text-center">Numero</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Proveedor</th>
                                    <th class="text-center">Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            

        </fieldset>
    </form>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var tbCompra = $('#tbCompra').DataTable({
            "order": [[0, "desc"]],
            "sDom": 'T C lfrtip',
            "pageLength": 5,
            //"aoColumnDefs": [
            //           { "bSortable": false, "aTargets": [1], "visible": false }
            //],
            "pagingType": "full_numbers",
            "language": {
                "sZeroRecords": "No se encontraron Registros",
                "sInfo": "Mostrando el total de Registros",
                "sLengthMenu": "Filas por Página",
                "sInfoEmpty": "Mosrando 0 de 0 Registros",
                "sInfoFiltered": "Información Filtrada",
                "sEmptyTable": "No hay datos Disponibles para mostrar en la Tabla",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Previo"
                }
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                //$(nRow).attr('id', aData[4]);
                //$(nRow).attr('class', 'lstNote');
                //$(nRow).attr('style', 'cursor:pointer');
            },
            "fnRowCallback": function (nRow, aData, iDataIndex, iDataIndexFull) {
                //$('td:eq(1)', nRow).addClass('text-left font-bold');
            }
        });


        $("#btnNuevaCompra").on('click', function (evt) {
            evt.preventDefault();

            window.location.href = "http://localhost:3662/Compra/indexDetalle";


        });

    });

    </script>