<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVentaService" />
                <binding name="BasicHttpBinding_IClienteService" />
                <binding name="BasicHttpBinding_IGestionDeVentaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20000/VentaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVentaService" contract="VentasWS.IVentaService"
                name="BasicHttpBinding_IVentaService" />
            <endpoint address="http://localhost:20000/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteService"
                contract="ClienteWS.IClienteService" name="BasicHttpBinding_IClienteService" />
            <endpoint address="http://localhost:20000/GestionDeVentaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGestionDeVentaService"
                contract="VentasWS.IGestionDeVentaService" name="BasicHttpBinding_IGestionDeVentaService" />
        </client>
    </system.serviceModel>
</configuration>