@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="col-sm-12">
    <form id="form_Producto" class="form-horizontal mitad" action="" method="post" accept-charset="utf-8" role="form" enctype="multipart/form-data">
        <fieldset style="margin:0px;padding-top:1px;">
            <legend align="left" style="margin:0px;">Producto</legend>


            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_Producto_Desc" class="col-sm-4 control-label small Title">Producto</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtProducto" name="txtProducto" class="form-control input-sm txtProducto" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_Category_Vehicle_Search" class="col-sm-6 control-label small Title ">Categoria</label>
                    <div class="col-sm-6 selectContainer">
                        <select id="cbosCategory_Product" name="cbosCategory_Product" class="form-control input-sm cbosCategory_Product">
                            <option value="0">-- Select --</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_FechaProd" class="col-sm-6 small Title control-label">Fecha Compra</label>
                    <div class="col-sm-6 ">
                        <div class='input-group date datetimepickInicio1' id='datep_Fecha'>
                            <input type="text" id="txtFecha" name="txtFecha" class="input-sm form-control" readonly="readonly" />
                            <span class="input-group-addon ">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br />
                </div>


            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lbl_PreciCompra" class="col-sm-4 control-label small Title">Precio de compra</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtPrecioCompra" name="txtPrecioCompra" class="form-control input-sm txtPrecioCompra" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-4 Sinespacio form-group">
                    <label for="lblPrecioVenta" class="col-sm-4 control-label small Title">Precio de venta</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtPrecioVenta" name="txtPrecioVenta" class="form-control input-sm txtPrecioVenta" placeholder="" />
                    </div>
                </div>

              
            </div>

            <div class="col-sm-12">
                <br />
            </div>



            <div class="col-sm-12 Sinespacio">
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lbl_Stock_Ini" class="col-sm-4 control-label small Title">Stock Ini</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockIni" name="txtStockIni" class="form-control input-sm txtStockIni" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lbl_Stock_Act" class="col-sm-4 control-label small Title">Stock Actual</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockActual" name="txtStockActual" class="form-control input-sm txtStockActual" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lblStockMin" class="col-sm-4 control-label small Title">Stock min</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockMin" name="txtStockMin" class="form-control input-sm txtStockMin" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-3 Sinespacio form-group">
                    <label for="lblStockMax" class="col-sm-4 control-label small Title">Stock max</label>
                    <div class="col-sm-8 text-left Accordion">
                        <input type="text" id="txtStockMax" name="txtStockMax" class="form-control input-sm txtStockMax" placeholder="" />
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <br />
            </div>


            <fieldset style="margin:0px;padding-top:1px;">
                <legend align="left" style="margin:0px;">Listado de Productos</legend>
                <div class="col-sm-12 Sinespacio">
                    <div class="table-responsive">
                        <table class="table table-bordered tbProducto display table-condensed" id="tbProducto" width="100%">
                            <thead id="TableHeader">
                                <tr>
                                    <th class="text-center">Prooducto</th>
                                    <th class="text-center">Precio de Compra</th>
                                    <th class="text-center">Precio de Venta</th>
                                    <th class="text-center">Stock ini</th>
                                    <th class="text-center">Stock Actual</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            <div class="col-sm-12 form-group">
                <br />

            </div>
            <div class="col-sm-12 form-group">

                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnNuevo" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nuevo</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnGuardar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guardar</button>
                </div>
                <div class="col-sm-2 text-center" style="text-align:center;">
                    <button type="button" id="btnCancelar" class="btnNew">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancelar</button>
                </div>
                <div class="col-sm-6 text-center" style="text-align:center;">
                </div>
            </div>


</fieldset>
    </form>
</div>






<script type="text/javascript">

    $(document).ready(function () {

        var tbProducto = $('#tbProducto').DataTable({
            "order": [[0, "desc"]],
            "sDom": 'T C lfrtip',
            "pageLength": 5,
            //"aoColumnDefs": [
            //           { "bSortable": false, "aTargets": [1], "visible": false }
            //],
            "pagingType": "full_numbers",
            "language": {
                "sZeroRecords": "No se encontraron Registros",
                "sInfo": "Mostrando el total de Registros",
                "sLengthMenu": "Filas por Página",
                "sInfoEmpty": "Mosrando 0 de 0 Registros",
                "sInfoFiltered": "Información Filtrada",
                "sEmptyTable": "No hay datos Disponibles para mostrar en la Tabla",
                "sSearch": "Buscar",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Previo"
                }
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                
                //$(nRow).attr('class', 'lstNote');
                //$(nRow).attr('style', 'cursor:pointer');
            },
            "fnRowCallback": function (nRow, aData, iDataIndex, iDataIndexFull) {
                //$('td:eq(1)', nRow).addClass('text-left font-bold');
            }
        });


        $("#btnCancelar").on('click', function (evt) {
            evt.preventDefault();

            window.location.href = "http://localhost:3662/Operation/";


        });


    });



    </script>